<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: rgb(241, 11, 11);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>Buena Los cabros</h1>
<p>que wea pasa</p>

</body>
</html>